*{
    font-family: sans-serif;
}
body{
    background-color: #E5E5E5;
    padding: 15px;
}
h1{
    color: #000000;
    text-align: center;
    font-weight: 700;
}
strong{
    color:#FCA311;
    text-decoration: underline;
}
li{
    font-size: 24px;
}
h2{
    font-size: 2em;
    text-align: left;
}
h3{
    font-size: 20px;
}
p{
    font-size: 20px;
    text-align: center;
}
#nome{
    text-align: center;
    
}
.firstlook{
    margin: auto;
    display: inline-block;
    background-color: rgb(148, 26, 26);
}
#description{
    margin-top: 150px;
    position: absolute;
    left: 350px;
    text-align: left;
}
.tudo{
    position: relative;
   

}
.resto{
    height: 300px;
    width: 800px;
}
#fotos{
    height: 300px;
    float: left;
   
    border: 2px solid black;
    padding: 5px;
    background-color:#FCA311 ;
}
ul li:nth-child(odd){
    font-family: fantasy;
}
#botao{
    padding: 15px;
    background-color: #14213D;
    color:#FFFFFF ;
    border-radius: 15px;
}
#botao:hover{
    background-color:#0c1933;
}