.header-text {
  font-weight: bolder;
  text-align: center;
  color: #f5f5f5;
  opacity: 0.8;
  font-size: medium;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.blinking-underline {
  margin-left: 3px;
  animation: 1s blink step-end infinite;
}
.App-header {
  position: fixed;
  width: 100%;
  background-color: #212529;
  padding: 20px 0px 20px 0px;
}

* {
  margin: 0;
  padding: 0;
  background-color: #212529;
  font-family: "JetBrains Mono";
}
