.header-container {
  display: flex;
  width: 60%;
  margin: auto;
  background-color: #212529;
  position: fixed;
  justify-content: space-between;
  left: 50%;
  transform: translate(-50%, 0);
}
.header-text {
  font-weight: bolder;
  font-size: large;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
.blinking-underline {
  margin-left: 3px;
  animation: 1s blink step-end infinite;
}
.App-header {
  background-color: #212529;
  padding: 30px 0px 60px 0px;
}

* {
  margin: 0;
  padding: 0;
  color: #dee2e6;
  font-family: "JetBrains Mono";
}
